KERNEL=="sd*[!0-9]", ENV{ID_SERIAL}!="?*", IMPORT{program}="scsi_id --export --whitelisted -d $tempnode", ENV{ID_BUS}="scsi"
KERNEL=="sd*", ENV{DEVTYPE}=="disk", ENV{ID_PATH}=="", IMPORT{program}="path_id %p"
KERNEL=="sd*", ENV{DEVTYPE}=="disk", ENV{ID_PATH}=="?*", PROGRAM="/etc/udev/scripts/eqliscsi_get_volume.sh $env{ID_PATH}",SYMLINK+="iscsi/%c"
KERNEL=="sd*", ENV{DEVTYPE}=="partition", ENV{ID_PATH}=="?*", PROGRAM="/etc/udev/scripts/eqliscsi_get_volume.sh $env{ID_PATH}",SYMLINK+="iscsi/%cp%n"
KERNEL!="sd*", GOTO="end_eqliscsi"
ACTION!="add|change", GOTO="end_eqliscsi"
ENV{DEVTYPE}!="disk", GOTO="end_eqliscsi"
ENV{ID_VENDOR}!="EQLOGIC", GOTO="end_eqliscsi"
ATTR{device/timeout}="60"
ATTR{queue/scheduler}="noop"
ATTR{queue/nr_requests}="1024"
ATTR{queue/read_ahead_kb}="1024"
LABEL="end_eqliscsi"
